.content-slider-1 {
    margin-top: 20px;
 .slider-1-img {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    display: block;
    transition: all .6s ease 0s;
    &:hover {
        -webkit-transform: scale3d(1.02,1.02,1) perspective(1000px);
        transform: scale3d(1.02,1.02,1) perspective(1000px);
        transition: all .6s ease 0s;
        z-index: 9;
    }
 }

 .text-area {
    padding: 20px;
    h4 {
        font-weight: 700;
        font-size: 1.2rem;
        color:#1aafad;
    }
    h3 {
        border-bottom: 1px solid #1aafad;
     }
 }
 @media (max-width:764px) {
    .slider-1-img {
        padding: 5px 10px
    }
 }
}