.blog-thumbnail-container {
    margin-bottom: 50px;
    h3  {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .blog-thumbnail {
        padding: 10px;
    }
    img {
        margin-bottom: 10px;
        border-bottom: 3px solid #1aafad;
    }
    .btn {
        background-color: none;
        border-bottom: 2px solid #1aafad;
        padding:15px 20px;
        border-radius: 0;
        color:#1aafad;  
        font-weight: 600;
        cursor: pointer;
    }
}